@import 'storage';

.first {
    overflow: hidden;
    position: relative;
    background-color: $TopRed;
    border-bottom-left-radius: 50px;
}

.image {
    z-index: 1;
    position: absolute;
    @include container(200%, 200%);
}

