$TopRed: hsl(353, 100%, 62%);
$IntroRed: hsl(13, 100%, 72%);


@mixin container($width, $height) {
    width: $width;
    height: $height;
}

@mixin fit {
    width: fit-content;
    height: fit-content;
}